*{
    margin: 0;
    padding: 0;
}
.Main-skill{
    min-height: 93vh;
    width: 100%;
    background-color: black;
}

.skill-headline h2{
      color: rgb(0, 216, 249);
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      font-size: 24px;
      padding-left: 6.5%;
      padding-top:2.5%;
}
.skill-headline h2:hover{
   color: aqua;
}
.main-sub-part{
  height: 80vh;
  background-color: rgb(0, 0, 0);
}

.Sub-skills-part{
    height: 53vh;
    background-color: rgb(0, 0, 0);
    margin-top: 3%;
    width: 100%;
   
    display: flex;
}

.part-1{
  height: 48.5vh;
  width: 50%;
  background-color: rgb(0, 0, 0);
  padding-left: 7%;
  padding-top: 2%;
}
.part-2{
  height: 48.5vh;
  width: 50%;
  background-color: rgb(0, 0, 0);
  padding-right: 3%;
  padding-top: 2%;
}

.skill2,.skill3,.skill4{
  padding-top: 6.5%;
}

#Skill-name{
    color: white;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
#skill-percent{
    color: white;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 18%;
    float:right;
}



.soft-skill {
  background-color: rgb(0, 0, 0);
  width: 70%;
  height: 7vh;
  padding-left: 30%;
 
  
 
}

#soft-skill{
   color: white;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
#soft-skill-percent{
   color: white;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
   padding-left: 49.5%;
}

.range-slider{
    padding-top: 11px;
    --range-width: 600px;
    --track-clr: rgb(255, 255, 255);

    --thumb-w: 10px;
    --thumb-h: 11.5px;
    --thumb-radius: 0;
    --thumb-space: 20px;
    --thumb-clr: rgb(0, 251, 255);
    --thumb-clr-active: rgb(0, 229, 255);
    --thumb-scale-y-active: .75;

    display: flex;
    align-items: center;
    gap: .5rem;
  }
  .range-slider > [data-value]{
    font-size: .8rem;
    width: 40px;
    opacity: .7;
  }
  .range-slider > input[type="range"] {
    width: var(--range-width);
    height: var(--thumb-h); 

    appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    
  }
.range-slider > input[type="range"]::-webkit-slider-thumb{
    cursor: grab;
    width: var(--thumb-w);
    height: var(--thumb-h);
   
    background-color: var(--thumb-clr);
  
    box-shadow:
      calc((var(--range-width) / 2 + var(--thumb-space)) * -1 ) 0 0 calc(var(--range-width) / 2) var(--thumb-clr),
      calc((var(--range-width) / 2 + var(--thumb-space))) 0 0 calc(var(--range-width) / 2) var(--track-clr);
   
    appearance: none;
}
 
 
@media (max-width: 940px) {
  .Sub-skills-part {
   flex-direction: column;
    height: auto;
    margin: 0 20px;
    margin-top: 20px;
  }

  .part-1,
  .part-2 {
    width: 100%;
    padding: 10px 0;
  
  }

  .part-2 {
    margin-bottom: 10px;
    margin-top: 5%;
    padding-bottom: 10px;
  }

  .soft-skill {
    width: 100%;
    padding: 20px;
    margin-top: 0px;
   
  }

  .range-slider {
    width: 100%;
    justify-content: center;
    margin: 20px;
  }
}
